<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragment/layout}"
	  layout:fragment="Content">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<script>
    $(document).ready(function () {
        let msg = "[[${msg}]]";
        let returnUrl = "[[${returnUrl}]]";

        if(typeof msg !== "undefined" && msg !== '') {
            alert(msg);
            location.href = returnUrl;
		} else {
            alert("비정상적인 접근입니다.");
            location.href = '/';
		}
    })
</script>
</html>