<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragment/layout}"
	  layout:fragment="Content">
<head>
	<meta charset="UTF-8"/>
	<title>Hello Thymeleaf</title>
</head>
<style>
	table {
		border-collapse: collapse;
	}
	table, table th, table td {
		border: 1px solid;
	}
	table tbody {
		text-align: center;
	}

	button {
		text-align: center;
		cursor: pointer;
		border: 1px solid #0669cb;
		background-color: #0669cb;
		color: white;
	}

	.mar_t10 {
		margin-top: 10px;
	}
</style>
<body>
	<table>
		<thead>
		<tr>
			<th>일련번호</th>
			<th>등록자 ID</th>
			<th>등록일</th>
			<th>제목</th>
			<th>내용</th>
			<th>파일 ID</th>
			<th>조회수</th>
		</tr>
		</thead>
		<tbody>
		<th:block th:if="${not #lists.isEmpty(boardList)}">
			<tr th:each="result, index : ${boardList}">
				<td th:text="|${index.count}|"></td>
				<td th:text="${result.rgstId}"></td>
				<td th:text="${result.rgstDt}"></td>
				<td th:text="${result.title}"></td>
				<td th:text="${result.cont}"></td>
				<td th:text="${result.fileId}"></td>
				<td th:text="${result.hts}"></td>
			</tr>
		</th:block>
		<th:block th:if="${#lists.isEmpty(boardList)}">
			<tr><td colspan="7">데이터가 없습니다.</td></tr>
		</th:block>
		</tbody>
	</table>
	<div id="btn_div">
		<button type="button" th:onclick="|location.href='@{insertForm.do}'|">등록</button>
	</div>
</body>
</html>
