button {
    text-align: center;
    cursor: pointer;
    border: 1px solid #0669cb;
    background-color: #0669cb;
    color: white;
}

.center {
    text-align: center;
}

.mar_t10 {
    margin-top: 10px;
}